@{
    Layout = "~/Views/Shared/_AndereLayout.cshtml";
}

@using MVCBierenApplicatie.Models;
@model List<Bier>

@*<h2>Alle bieren</h2>
    @foreach (var bier in Model)
    {
        @bier.ID@:. @bier.Naam
        @: (@bier.Alcohol
        @:%)
        <br />
    }*@

<h2>Alle bieren</h2>
<table class="bieren">
    <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Alcohol</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bier in Model)
        {
            var url = Url.Action("verwijderen", "Bier", new { ID = bier.ID });


            <tr>
                <td>@Html.DisplayFor(m => bier.ID) </td>
                <td>@bier.Naam</td>
                <td>@Html.DisplayFor(m => bier.Alcohol)</td>
                <td><a href="@url"><img src="~/Images/delete.png" alt="verwijderen" /></a></td>
            </tr>
            @*<li>@Html.DisplayFor(m => bier.ID) @bier.Naam @Html.DisplayFor(m => bier.Alcohol)</li>*@
            @*<li>@bier.ID @bier.Naam bevat @(bier.Alcohol*100) % alcohol</li>*@
        }
    </tbody>
</table>

<p>@Html.ActionLink("Bier toevoegen", "Toevoegen")</p>


